.container{
  border: 2px dashed #ECEDF4;
  text-align: center;
  padding: 35px;
}
p{
  margin-top: 25px;
  color: #10181F;
  font-family: 'Caros';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}
a{
  color: #EA1C2C!important;
}
