@import 'variables';
@import 'utilities';

$categories-width:750px;
$scrollbar-width:18px;
span.text-muted{
  color: #a8abb9!important;
}
.web-athletes {
    &__container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__selection {
        display: flex;
        flex-direction: column;
        overflow: auto;
        border: 1px solid $border-color;
        border-radius: $border-radius;
    }

    &__select-all {
        display: flex;
        justify-content: space-between;
        padding: 10px 32px 4px;
        border-bottom: 1px solid $border-color;
    }

    &__list {
        padding-bottom: 20px;
        flex-grow: 1;
        overflow: auto;
        height: 300px;
    }
}
