@import "variables";

:host {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  background-color: $white;
  display: block;
}

.sp-header {
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
    cursor: pointer;
  }
  &__option {
    font-weight: 800;
    color: $menu-option-color;
    margin-left: 10px;
    &--selected {
      color: $accent;
    }
    &--institution {
      color: $primary;
    }
  }
  &__user {
    color: $primary;
    cursor: pointer;
    &-name {
      display: flex;
      align-items: center;
      font-weight: 800;
    }
    &-photo {
      width: 40px;
      height: 40px;
    }
    &-expand {
      width: 7.45px;
      height: auto;
    }
    &-info {
      width: 250px;
      height: 48px;
      padding: 0 16px;
      display: flex;
      align-items: center;
      .mat-icon {
        margin-right: 16px;
      }
    }
  }
}