@import "variables";

:host {
    display: block;
}

.sp-widget-preview {
    cursor: pointer;
    background-color: #f9f9fc;
    border: 1px solid #ecedf4;
    border-left-color: transparent;
    border-right-color: transparent;
    &:hover {
        box-shadow: 0px 4px 24px rgba(168, 171, 185, 0.5);
        border: none;
    }
    &__container {
        position: relative;
        display: block;
        padding: 10px 25px;
    }
    &__header {
        font-weight: $font-weight-bold;
    }
    &__image {
        margin: 25px 25px 10px;
        background-color: $white;
        border-radius: $border-radius;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
}
